
<a href="https://swcarpentry.github.io/python-novice-gapminder/index.html">Plotting and Programming with Python Index Page</a>

<div class="row">
       <table class="table table-striped">  
       <tr><td>09:00-09:15</td><td>
            <a href="#setup">Setup Instructions</a> + 
            <a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a>
      </td><td>Setup, ensure everything works, fill out survey</td></tr>
      <tr><td>09:15-09:30</td><td> 1. <a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">Running and Quitting</a></td><td>How can I run Python programs?</td></tr>
      <tr><td>09:30-09:50</td><td> 2. <a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment</a></td><td>How can I store data in programs?</td></tr>
      <tr><td>09:50-10:10</td><td> 3. <a href="https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion.html">Data Types and Type Conversion</a></td><td>What kinds of data do programs store?<br>How can I convert one type to another?</td></tr>
      <tr><td>10:10-10:35</td><td> 4. <a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built-in Functions and Help</a></td><td>How can I use built-in functions?<br>How can I find out what theydo?<br>What kind of errors can occur in programs?</td></tr>
      <tr><td>10:35-10:50</td><td> 5. <a href="https://swcarpentry.github.io/python-novice-gapminder/05-coffee.html">Morning Coffee</a></td><td></td></tr>
      <tr><td>10:50-11:10</td><td> 6. <a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries.html">Libraries</a></td><td>How can I use software that other people have written?<br>How can I find out what that software does? </td></tr>
      <tr><td>11:10-11:30</td><td> 7. <a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Reading Tabular Data into DataFrames</a></td><td>How can I read tabular data?</td></tr>
      <tr><td>11:30-12:00</td><td> 8. <a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html">Pandas DataFrames</a></td><td>How can I do statistical analysis of tabular data?</td></tr>
      <tr><td>12:00-12:30</td><td> 9. <a href="https://swcarpentry.github.io/python-novice-gapminder/09-plotting.html">Plotting</a></td><td>How can I plot my data?<br>How can I save my plot for publishing?</td></tr>
      <tr><td>12:30-13:30</td><td>10. <a href="https://swcarpentry.github.io/python-novice-gapminder/10-lunch.html">Lunch</a></td><td></tr>

      <tr><td>13:30-13:50</td><td>11. <a href="https://swcarpentry.github.io/python-novice-gapminder/11-lists.html">Lists</a></td><td>How can I store multiple values?</td></tr>
      <tr><td>13:50-14:15</td><td>12. <a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops.html">For Loops</a></td><td>How can I make a program do many things?</td></tr>
      <tr><td>14:15-14:40</td><td>13. <a href="https://swcarpentry.github.io/python-novice-gapminder/13-conditionals.html">Conditionals</a></td><td>How can programs do different things for different data?</td></tr>
      <tr><td>14:40-14:55</td><td>14. <a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Looping Over Data Sets</a></td><td>How can I process many data sets with a single command?</td></tr>
      <tr><td>14:55-15:10</td><td>15. <a href="https://swcarpentry.github.io/python-novice-gapminder/15-coffee.html">Afternoon Coffee</a></td><td></td></tr>
      <tr><td>15:10-15:35</td><td>16. <a href="https://swcarpentry.github.io/python-novice-gapminder/16-writing-functions.html">Writing Functions</a></td><td>How can I create my own functions?</td></tr>
      <tr><td>15:35-16:05</td><td>17. <a href="https://swcarpentry.github.io/python-novice-gapminder/17-scope.html">Variable Scope</a></td><td>How do function calls actually work?<br>How can I determine where errors occurred?</td></tr>
      <tr><td>16:05-16:25</td><td>18. <a href="https://swcarpentry.github.io/python-novice-gapminder/18-style.html">Programming Style</a></td><td>How can I make my programs more readable?<br>How do most programmers format their code?<br>How can programs check their own operation?</td></tr>
      <tr><td>16:25-16:45</td><td>19. <a href="https://swcarpentry.github.io/python-novice-gapminder/19-wrap.html">Wrap-Up</a></td><td>What have we learned?<br>What else is out there and where do I find it?</td></tr>
      <tr><td>16:45</td><td>20. <a href="https://swcarpentry.github.io/python-novice-gapminder/20-feedback.html"><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></a></td><td>How did the class go?</td></tr>
</table>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Morning</h3>
    <table class="table table-striped">          
    
     

          
          <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      {% if site.flavor == "r" %}
      <tr> <td>13:00</td>  <td>Building Programs with R</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Building Programs with R (Continued)</td> </tr>
      {% elsif site.flavor == "python" %}
      <tr> <td>13:00</td>  <td>Building Programs with Python</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Building Programs with Python (Continued)</td> </tr>
      {% else %}
      {% include warning-flavor.html %}
      {% endif %}
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Afternoon</h3>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td>Version Control with Git</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>11:00</td>  <td>Version Control with Git (Continued)</td> </tr>
      <tr> <td>12:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:00</td>  <td>Managing Data with SQL</td> </tr>
      <tr> <td>14:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:00</td>  <td>Managing Data with SQL (Continued)</td> </tr>
      <tr> <td>16:00</td>  <td>Wrap-up</td> </tr>
      <tr> <td>16:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>16:40</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
